*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container{
    width:100%;
    height: 100vh;
    background-image: url("Desert Web Img\background.png");
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height : 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer;
}

.menu{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color : #fff;
    font-size: 13px;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h1{
    color: aliceblue;
    font-size: 100px;
}
p{
    line-height: 15px;
    color: aliceblue;
    font-size: 11px;
}

button{
width:180px;
color:#000;
font-size:12px;
padding:12px 0;
background: #fff;
border-radius: 20px;
border: 0;
outline: none;
margin-top: 30px;
}

.card{
    width: 200px;
    height:230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url("Desert Web Img\pic-1.png");
    background-size: cover;
    background-position: center;
    transition : transform 0.5s ;
}

.card2{
    background-image: url("Desert Web Img\pic-2.png");
}

.card3{
    background-image: url("Desert Web Img\pic-3.png");
}

.card4{
    background-image: url("Desert Web Img\pic-4.png");
}

.card:hover{
    transform: translateY(-10px);
}

h5{
    color:black;
    text-shadow: 0 0 5px #999;
}

.card p{
    text-shadow: 0 0 15px #999;
    font-size: 8px;
}
